.container {
    background-color: rgb(20, 131, 131);
}

.centrer {
    display: flex;
    justify-content: center;
}

.liste-tirage {
    display: flex;
    flex-direction: row;
    background-color: rgb(15, 61, 102);
    border-radius: 15px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

.nombre {
    margin: 8px;
    padding: 8px;
    width: 40px;
    height: 40px;
   
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}

.nombreBleu {
    border-radius: 100%;
    background-color: lightblue;

}

.nombreEtoile {
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%);

    background-color: yellow;
}